---
import Appbar from '../components/Appbar.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <title>About - Seizure Diary 101</title>
  </head>
  <body class="my-8 lg:my-12">
    <Appbar />
    <main class="grid grid-cols-3 w-11/12 mx-auto gap-6">
      <div class="overflow-hidden border rounded-lg bg-white shadow p-4 my-12">
        <img
          src="https://balzerdesigns.typepad.com/.a/6a00d8341c766153ef02b751a5017e200c-500wi"
          alt=""
          class="w-full aspect-video bg-gray-100 border-1"
        />
        <div class="space-y-4 my-4 max-w-prose flex flex-col">
          <h1 class="text-3xl">About for Seizure Diary 101</h1>
          <p>What is Seizre Diary 101 and why should you start it?</p>
          <p>
            Seizre Diary 101 is a website that aims to encourage and premote the use of journaling. We reccomend people starting out with a
            cheap pocket notebooks and a pen to help you get started into recoridng our lifestlye.
          </p>
          <p>
            Recording your lifestyle can be quite complicated, as each individual's life is unique. This website aims to simplify that
            process for you by encouraging you to get a pocket notebook and a pen to keep track of your lifestyle. It can be challenging to
            rely on memory alone to keep tabs on yourself.
          </p>
          <p>
            Here is where we merge epilepsy and a common notebook for journaling, where one gathers and organizes information from various
            sources for future reference and reflection. You get to choose what to track, and it can range from your medication intake to
            your mood.
          </p>
          <p>
            We recommend starting with a common notebook, especially if you've been recently diagnosed, as there is a lot of information to
            take in. With several forms of seizures, triggers, and restrictions, each individual with epilepsy may encounter unique
            challenges. Additionally, a Seizure Diary may be too overwhelming for those who are new to journaling. The purpose is to help
            you notice your habits early on through the power of using a common notebook.
          </p>
        </div>
      </div>
      <div class="overflow-hidden border rounded-lg bg-white shadow p-4 my-12">
        <img
          src="https://balzerdesigns.typepad.com/.a/6a00d8341c766153ef02b751a5017e200c-500wi"
          alt=""
          class="w-full aspect-video bg-gray-100 border-1"
        />
        <div class="space-y-4 my-4 max-w-prose flex flex-col">
          <h1 class="text-3xl">About for Seizure Diary 101</h1>
          <p>What is Seizre Diary 101 and why should you start it?</p>
          <p>
            Seizre Diary 101 is a website that aims to encourage and premote the use of journaling. We reccomend people starting out with a
            cheap pocket notebooks and a pen to help you get started into recoridng our lifestlye.
          </p>
          <p>
            Recording your lifestyle can be quite complicated, as each individual's life is unique. This website aims to simplify that
            process for you by encouraging you to get a pocket notebook and a pen to keep track of your lifestyle. It can be challenging to
            rely on memory alone to keep tabs on yourself.
          </p>
          <p>
            Here is where we merge epilepsy and a common notebook for journaling, where one gathers and organizes information from various
            sources for future reference and reflection. You get to choose what to track, and it can range from your medication intake to
            your mood.
          </p>
          <p>
            We recommend starting with a common notebook, especially if you've been recently diagnosed, as there is a lot of information to
            take in. With several forms of seizures, triggers, and restrictions, each individual with epilepsy may encounter unique
            challenges. Additionally, a Seizure Diary may be too overwhelming for those who are new to journaling. The purpose is to help
            you notice your habits early on through the power of using a common notebook.
          </p>
        </div>
      </div>
      <div class="overflow-hidden border rounded-lg bg-white shadow p-4 my-12">
        <img
          src="https://balzerdesigns.typepad.com/.a/6a00d8341c766153ef02b751a5017e200c-500wi"
          alt=""
          class="w-full aspect-video bg-gray-100 border-1"
        />
        <div class="space-y-4 my-4 max-w-prose flex flex-col">
          <h1 class="text-3xl">About for Seizure Diary 101</h1>
          <p>What is Seizre Diary 101 and why should you start it?</p>
          <p>
            Seizre Diary 101 is a website that aims to encourage and premote the use of journaling. We reccomend people starting out with a
            cheap pocket notebooks and a pen to help you get started into recoridng our lifestlye.
          </p>
          <p>
            Recording your lifestyle can be quite complicated, as each individual's life is unique. This website aims to simplify that
            process for you by encouraging you to get a pocket notebook and a pen to keep track of your lifestyle. It can be challenging to
            rely on memory alone to keep tabs on yourself.
          </p>
          <p>
            Here is where we merge epilepsy and a common notebook for journaling, where one gathers and organizes information from various
            sources for future reference and reflection. You get to choose what to track, and it can range from your medication intake to
            your mood.
          </p>
          <p>
            We recommend starting with a common notebook, especially if you've been recently diagnosed, as there is a lot of information to
            take in. With several forms of seizures, triggers, and restrictions, each individual with epilepsy may encounter unique
            challenges. Additionally, a Seizure Diary may be too overwhelming for those who are new to journaling. The purpose is to help
            you notice your habits early on through the power of using a common notebook.
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<script>
  // JavaScript code goes here.
</script>

<style is:global>
  @font-face {
    font-family: 'Lexend Variable';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Lexend Variable';
  }
</style>
