---
import Appbar from "../components/Appbar.astro";
import Footer from "../components/Footer.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>About - Seizure Diary 101</title>
</head>
<body>
  <Appbar />
  <main class="mx-auto w-11/12 min-h-screen">
    <h1 class="text-3xl">About Page for Seizure Diary 101</h1>
  </main>
  <Footer />
</body>
</html>

<script>
  // JavaScript code goes here.
</script>

<style is:global>
  @font-face {
    font-family: 'Lexend Variable';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Lexend Variable';
  }
</style>