---
import Appbar from '../components/Appbar.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <title>About - Seizure Diary 101</title>
  </head>
  <body class="my-8 lg:my-12 space-y-8 lg:space-y-12 max-w-7xl mx-auto">
    <Appbar />
    <main class="w-11/12 mx-auto">
      <blockquote class="my-8 lg:my-12">
        <figure class="text-xl">Empowering People Dealing with Epilepsy with the Help of Writing in Journals</figure>
      </blockquote>
      <section class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8">
        <div class="overflow-hidden border rounded-lg bg-white shadow">
          <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
            <h1 class="text-3xl mb-3">Seizure Diary 101.</h1>
          </div>
        </div>
        <div class="overflow-hidden border rounded-lg bg-white shadow">
          <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
            <h2 class="text-3xl mb-3">Why should I make it?</h2>
            <p class="line-clamp-6 opacity-80">
              A seizure diary is a valuable tool for individuals who experience seizures, as well as for their healthcare providers. It
              helps track the frequency, duration, and characteristics of seizures, as well as potential triggers and any associated
              symptoms. It provides an opportunity to translate intangible thoughts into something tangible, by forcing you to write what
              your thinking into a notebook.
            </p>
          </div>
        </div>
        <div class="overflow-hidden border rounded-lg bg-white shadow">
          <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
            <h3 class="text-3xl mb-3">Who should make it?</h3>
            <p class="line-clamp-6 opacity-80">
              Ideally, a seizure diary should be maintained by the individual experiencing seizures, with input from caregivers or family
              members if necessary. However, if the person experiencing seizures has difficulties maintaining the diary on their own, a
              caregiver or family member can take on the responsibility with their input and observations. We reccomend using a pocket
              notebook as they're lightweight and portable to carry around.
            </p>
          </div>
        </div>
        <div class="overflow-hidden border rounded-lg bg-white shadow">
          <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
            <h4 class="text-3xl mb-3">When should I make it?</h4>
            <p class="line-clamp-6 opacity-80">
              You should start making a seizure diary as soon as you are diagnosed with a seizure disorder or if you suspect that you are
              experiencing seizures. The sooner you begin keeping track of your seizure activity, the better, as it can provide valuable
              information to your healthcare provider for diagnosis and treatment planning. It's important to document each seizure as soon
              as possible after it occurs while the details are fresh in your mind. Consistency is key, so try to record every seizure
              episode, even if it seems minor.
            </p>
          </div>
        </div>
        <div class="overflow-hidden border rounded-lg bg-white shadow">
          <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
            <h5 class="text-3xl mb-3">Where should I put it?</h5>
            <p class="line-clamp-6 opacity-80">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium culpa sapiente, adipisci cum, error enim excepturi atque
              earum modi aliquid vero asperiores corrupti totam, reiciendis quis nemo illum exercitationem! Eaque deleniti eveniet,
              dignissimos corporis saepe officia architecto culpa, distinctio aut rem tenetur odit! Similique consectetur saepe sed
              repellendus cumque impedit at quas ut, magnam odio quidem porro vel provident iste.
            </p>
          </div>
        </div>
        <div class="overflow-hidden border rounded-lg bg-white shadow">
          <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
            <h6 class="text-3xl mb-3">How should I make it?</h6>
            <p class="line-clamp-6 opacity-80">
              You can use a notebook, a dedicated diary, or even a smartphone to record the date, time, duration, type of seizure, any
              triggers or warning signs, and any associated symptoms or factors. Additionally, note any medication you are taking and any
              changes in your lifestyle or environment that may be relevant. Over time, patterns may emerge that can help your healthcare
              provider tailor your treatment plan to better manage your condition.
            </p>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>

<script>
  // JavaScript code goes here.
</script>

<style is:global>
  @font-face {
    font-family: 'Lexend Variable';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Lexend Variable';
  }
</style>
