---
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marker</title>
  </head>
  <body class="container max-w-[120ch] mx-auto bg-zinc-50/50">
    <header class="mb-6 mt-12">
      <Navigation />
    </header>
    <main >
      <section class="space-y-3">
        {allPosts.map((post) => <Card author={post.frontmatter.author} href={post.url} title={post.frontmatter.title} body={post.frontmatter.description} />)}
      </section>
    </main>
    <Footer />
  </body>
</html>

<script>
  // JavaScript code goes here.
</script>

<style is:global>
  @font-face {
    font-family: 'Golos Text';
    src: url('/fonts/GolosText-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  * {
    font-family: 'Golos Text', sans-serif;
  }
</style>
