---

---

<html lang="en">
  <head>
    <title>My Homepage</title>
  </head>
  <body>
    <header>
      <div class="">
        <div class="">
          <p>logo</p>
          <p>menu</p>
        </div>
        <div class="">
          <a href="#"><u>Link</u></a>
          <a href="#"><u>Link</u></a>
          <a href="#"><u>Link</u></a>
          <a href="#"><u>Link</u></a>
          <a href="#"><u>Link</u></a>
        </div>
      </div>
    </header>
    <section>
      <h1>Who</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, pariatur aliquid asperiores ipsa eveniet suscipit perspiciatis aut
        quas consectetur assumenda accusantium. Tempora, sed! Voluptatum, et nobis perspiciatis adipisci, quia impedit excepturi itaque
        esse, eaque inventore magnam eveniet iure repellendus eius!
      </p>
    </section>
    <section>
      <h2>What</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, pariatur aliquid asperiores ipsa eveniet suscipit perspiciatis aut
        quas consectetur assumenda accusantium. Tempora, sed! Voluptatum, et nobis perspiciatis adipisci, quia impedit excepturi itaque
        esse, eaque inventore magnam eveniet iure repellendus eius!
      </p>
    </section>
    <section>
      <h3>Where</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, pariatur aliquid asperiores ipsa eveniet suscipit perspiciatis aut
        quas consectetur assumenda accusantium. Tempora, sed! Voluptatum, et nobis perspiciatis adipisci, quia impedit excepturi itaque
        esse, eaque inventore magnam eveniet iure repellendus eius!
      </p>
    </section>
    <section>
      <h4>When</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, pariatur aliquid asperiores ipsa eveniet suscipit perspiciatis aut
        quas consectetur assumenda accusantium. Tempora, sed! Voluptatum, et nobis perspiciatis adipisci, quia impedit excepturi itaque
        esse, eaque inventore magnam eveniet iure repellendus eius!
      </p>
    </section>
    <section>
      <h5>Why</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, pariatur aliquid asperiores ipsa eveniet suscipit perspiciatis aut
        quas consectetur assumenda accusantium. Tempora, sed! Voluptatum, et nobis perspiciatis adipisci, quia impedit excepturi itaque
        esse, eaque inventore magnam eveniet iure repellendus eius!
      </p>
    </section>
    <section>
      <h6>How</h6>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, pariatur aliquid asperiores ipsa eveniet suscipit perspiciatis aut
        quas consectetur assumenda accusantium. Tempora, sed! Voluptatum, et nobis perspiciatis adipisci, quia impedit excepturi itaque
        esse, eaque inventore magnam eveniet iure repellendus eius!
      </p>
    </section>
    <footer>
      <div class="">
        <p>logo</p>
        <p>copy and current year</p>
      </div>
    </footer>
  </body>
</html>
