---
import Logo from '../components/Logo.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<html lang="en">
  <head>
    <title>Seizure Diary 101</title>
  </head>
  <body class="my-8 lg:my-12 space-y-8 lg:space-y-12 max-w-7xl mx-auto">
    <main class="w-11/12 mx-auto space-y-6 mt-6">
      <section class="">
        <Logo Size="w-48 aspect-video" />
        <h1 class="scroll-m-20 m-0 p-0 text-4xl sr-only">Marker</h1>
      </section>
      <section class="leading-7 text-gray-700 mt-4 space-y-3">
        <p>Marker is a platform that assists people with epilepsy in discovering the powers of journaling.</p>
        <p>
          As you explore these pages, you'll uncover insights, strategies, and practical tools to navigate the complexities of journaling.
          We showcases different ways to mix and match features within journaling, allowing you to create a system that works uniquely for
          you.
        </p>
        <p>We are here to empower you on your journey to get you started.</p>
      </section>
      <hr />
      {allPosts.map((post) => <Card href={post.url} title={post.frontmatter.title} body={post.frontmatter.description} />)}
    </main>
    <Footer />
  </body>

  <script>
    // JavaScript code goes here.
  </script>

  <style is:global>
    @font-face {
      font-family: 'Lexend Variable';
      src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
      font-weight: 100 900;
      font-style: normal;
      font-display: swap;
    }
    body {
      font-family: 'Lexend Variable';
    }
  </style>
</html>
