---
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marker</title>
  </head>
  <body>
    <main class="">
      <section class="flex flex-col lg:flex-row divide-y lg:divide-x lg:min-h-[90svh]">
        <div class="flex-1 p-4 lg:p-8">
          <Navigation />
        </div>
        <ul class="flex-1 lg:flex-grow p-4 divide-y divide-gray-200 lg:p-8 lg:overflow-y-scroll lg:h-[90svh] space-y-8">
          {allPosts.map((post) => <Card href={post.url} title={post.frontmatter.title} body={post.frontmatter.description} />)}
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>

<script>
  // JavaScript code goes here.
</script>

<style is:global>
  @font-face {
    font-family: 'Golos Text';
    src: url('/fonts/GolosText-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  * {
    font-family: 'Golos Text', sans-serif;
  }
</style>
