---
import Card from '../components/Card.astro';
import Logo from '../components/Logo.astro';
import Footer from '../components/Footer.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marker</title>
  </head>
  <body class="container max-w-[120ch] mx-auto bg-zinc-50/50">
    <header class="mb-6 mt-12 p-6">
      <Logo Size="w-32" />
      <h1 class="scroll-m-20 m-0 p-0 text-4xl sr-only">Marker</h1>
      <p class="mt-4 text-sm lg:text-base lg:leading-7 tracking-wide">
        Our platform's goal is to help people with epilepsy discover the benefits of keeping a seizure diary. As you explore these pages, you'll
        uncover a personal way to track seizures, identify triggers, and refine your treatment plans. Over time, this activity will foster a
        deeper understanding of your triggers, relationship with epilepsy, and empower you to manage your condition better.
      </p>
    <header />
    <main>
      <section class="space-y-3">
        {
          allPosts.map((post) => (
            <Card author={post.frontmatter.author} href={post.url} title={post.frontmatter.title} body={post.frontmatter.description} />
          ))
        }
      </section>
    </main>
    <Footer />
  </body>
</html>

<script>
  // JavaScript code goes here.
</script>

<style is:global>
  @font-face {
    font-family: 'Golos Text';
    src: url('/fonts/GolosText-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  * {
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
  }
</style>
