---

---

<html lang="en">
  <head>
    <title>Seizure Diary 101</title>
  </head>
  <body>
    <header class="mx-auto w-11/12 overflow-hidden border rounded-lg bg-white shadow">
      <div class="sm:px-6 lg:px-8  items-center justify-between">
        <div class="">
          <p>logo</p>
          <p>menu</p>
        </div>
        <div class="">
          <a href="#"><u>Link</u></a>
          <a href="#"><u>Link</u></a>
          <a href="#"><u>Link</u></a>
          <a href="#"><u>Link</u></a>
          <a href="#"><u>Link</u></a>
        </div>
      </div>
    </header>
    <main class="mx-auto w-11/12 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8">
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6">
          <h1>Seizure Diary 101.</h1>
          <p>
            If you've had seizures and feel confused or scared, remember, you're not alone. Welcome to our website, created by someone
            diagnosed with epilepsy in 2016. Our mission is to support individuals facing epilepsy by harnessing the power of journaling.
            Throughout these pages, you'll discover insights, strategies, and practical tools to navigate the complexities of epilepsy.
            We're here to empower you on your journey.
          </p>
        </div>
      </section>
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6">
          <h2>Why should I make it?</h2>
          <p>
            A seizure diary is a valuable tool for individuals who experience seizures, as well as for their healthcare providers. It helps
            track the frequency, duration, and characteristics of seizures, as well as potential triggers and any associated symptoms. It
            provides an opportunity to translate intangible thoughts into something tangible, by forcing you to write what your thinking
            into a notebook.
          </p>
        </div>
      </section>
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6">
          <h3>Who should make it?</h3>
          <p>
            Ideally, a seizure diary should be maintained by the individual experiencing seizures, with input from caregivers or family
            members if necessary. However, if the person experiencing seizures has difficulties maintaining the diary on their own, a
            caregiver or family member can take on the responsibility with their input and observations. We reccomend using a pocket
            notebook as they're lightweight and portable to carry around.
          </p>
        </div>
      </section>
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6">
          <h4>When should I make it?</h4>
          <p>
            You should start making a seizure diary as soon as you are diagnosed with a seizure disorder or if you suspect that you are
            experiencing seizures. The sooner you begin keeping track of your seizure activity, the better, as it can provide valuable
            information to your healthcare provider for diagnosis and treatment planning. It's important to document each seizure as soon as
            possible after it occurs while the details are fresh in your mind. Consistency is key, so try to record every seizure episode,
            even if it seems minor.
          </p>
        </div>
      </section>
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6">
          <h5>Where should I put it?</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium culpa sapiente, adipisci cum, error enim excepturi atque
            earum modi aliquid vero asperiores corrupti totam, reiciendis quis nemo illum exercitationem! Eaque deleniti eveniet,
            dignissimos corporis saepe officia architecto culpa, distinctio aut rem tenetur odit! Similique consectetur saepe sed
            repellendus cumque impedit at quas ut, magnam odio quidem porro vel provident iste.
          </p>
        </div>
      </section>
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6">
          <h6>How should I make it?</h6>
          <p>
            You can use a notebook, a dedicated diary, or even a smartphone to record the date, time, duration, type of seizure, any
            triggers or warning signs, and any associated symptoms or factors. Additionally, note any medication you are taking and any
            changes in your lifestyle or environment that may be relevant. Over time, patterns may emerge that can help your healthcare
            provider tailor your treatment plan to better manage your condition.
          </p>
        </div>
      </section>
    </main>
    <footer class="mx-auto w-11/12 overflow-hidden border rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <p>logo</p>
        <p>copy and current year</p>
      </div>
    </footer>
  </body>
</html>
