---
const getFullYear = new Date().getFullYear();
---

<html lang="en">
  <head>
    <title>Seizure Diary 101</title>
  </head>
  <body class="flex flex-col justify-center min-h-screen space-y-12">
    <header class="mx-auto w-11/12 overflow-hidden border rounded-lg bg-white shadow p-4">
      <div class="sm:px-6 lg:px-8 grid grid-cols-1 lg:grid-cols-2 items-center justify-between">
        <div class="flex justify-between items-center">
          <div class="w-5 h-auto">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
              ><path
                d="M21 18H6C5.44772 18 5 18.4477 5 19C5 19.5523 5.44772 20 6 20H21V22H6C4.34315 22 3 20.6569 3 19V4C3 2.89543 3.89543 2 5 2H21V18ZM16 9V7H8V9H16Z"
              ></path></svg
            >
          </div>
          <div class="w-5 h-auto lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
          </div>
        </div>
        <div class="flex flex-col gap-8 mt-8 lg:justify-end lg:items-center lg:mt-0 lg:flex-row">
          <a href="/"><u>Home</u></a>
          <a href="/about"><u>About</u></a>
          <a href="/chat"><u>Chat</u></a>
          <a href="/past-events"><u>Past Events</u></a>
          <a href="/get-started"><u>Get Started</u></a>

        </div>
      </div>
    </header>
    <main class="mx-auto w-11/12 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8">
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
          <h1 class="text-3xl mb-3">Seizure Diary 101.</h1>
          <p class="line-clamp-6 opacity-80">
            If you've had seizures and feel confused or scared, remember, you're not alone. Welcome to our website, created by someone
            diagnosed with epilepsy in 2016. Our mission is to support individuals facing epilepsy by harnessing the power of journaling.
            Throughout these pages, you'll discover insights, strategies, and practical tools to navigate the complexities of epilepsy.
            We're here to empower you on your journey.
          </p>
        </div>
      </section>
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
          <h2 class="text-3xl mb-3">Why should I make it?</h2>
          <p class="line-clamp-6 opacity-80">
            A seizure diary is a valuable tool for individuals who experience seizures, as well as for their healthcare providers. It helps
            track the frequency, duration, and characteristics of seizures, as well as potential triggers and any associated symptoms. It
            provides an opportunity to translate intangible thoughts into something tangible, by forcing you to write what your thinking
            into a notebook.
          </p>
        </div>
      </section>
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
          <h3 class="text-3xl mb-3">Who should make it?</h3>
          <p class="line-clamp-6 opacity-80">
            Ideally, a seizure diary should be maintained by the individual experiencing seizures, with input from caregivers or family
            members if necessary. However, if the person experiencing seizures has difficulties maintaining the diary on their own, a
            caregiver or family member can take on the responsibility with their input and observations. We reccomend using a pocket
            notebook as they're lightweight and portable to carry around.
          </p>
        </div>
      </section>
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
          <h4 class="text-3xl mb-3">When should I make it?</h4>
          <p class="line-clamp-6 opacity-80">
            You should start making a seizure diary as soon as you are diagnosed with a seizure disorder or if you suspect that you are
            experiencing seizures. The sooner you begin keeping track of your seizure activity, the better, as it can provide valuable
            information to your healthcare provider for diagnosis and treatment planning. It's important to document each seizure as soon as
            possible after it occurs while the details are fresh in your mind. Consistency is key, so try to record every seizure episode,
            even if it seems minor.
          </p>
        </div>
      </section>
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
          <h5 class="text-3xl mb-3">Where should I put it?</h5>
          <p class="line-clamp-6 opacity-80">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium culpa sapiente, adipisci cum, error enim excepturi atque
            earum modi aliquid vero asperiores corrupti totam, reiciendis quis nemo illum exercitationem! Eaque deleniti eveniet,
            dignissimos corporis saepe officia architecto culpa, distinctio aut rem tenetur odit! Similique consectetur saepe sed
            repellendus cumque impedit at quas ut, magnam odio quidem porro vel provident iste.
          </p>
        </div>
      </section>
      <section class="overflow-hidden border rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:p-6 flex flex-col gap-1">
          <h6 class="text-3xl mb-3">How should I make it?</h6>
          <p class="line-clamp-6 opacity-80">
            You can use a notebook, a dedicated diary, or even a smartphone to record the date, time, duration, type of seizure, any
            triggers or warning signs, and any associated symptoms or factors. Additionally, note any medication you are taking and any
            changes in your lifestyle or environment that may be relevant. Over time, patterns may emerge that can help your healthcare
            provider tailor your treatment plan to better manage your condition.
          </p>
        </div>
      </section>
    </main>
    <footer class="mx-auto w-11/12 overflow-hidden border rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6 flex flex-col lg:flex-row lg:justify-between lg:items-center">
        <p>logo</p>
        <p>&copy{`${getFullYear}`} Seizure Diary 101, Inc. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>

<script>
  // JavaScript code goes here.
</script>

<style is:global>
  @font-face {
    font-family: 'Lexend Variable';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Lexend Variable';
  }
</style>
