---
import Card from '../components/Card.astro';
import Appbar from '../components/Appbar.astro';
import Footer from '../components/Footer.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<html lang="en">
  <head>
    <title>Seizure Diary 101</title>
  </head>
  <body class="container my-8 lg:my-12">
    <Appbar />
    <main class="space-y-6 my-6">
      <section class="leading-7 text-gray-700">
        <p>Marker is a platform that assists people with epilepsy in discovering the powers of journaling.</p>
        <p>
          As you explore these pages, you'll uncover insights, strategies, and practical tools to navigate the complexities of journaling.
          We showcases different ways to mix and match features within journaling, allowing you to create a system that works uniquely for
          you.
        </p>
        <p>We are here to empower you on your journey to get you started.</p>
      </section>
      <hr />
      <section class="space-y-8 my-8">
        {allPosts.map((post) => <Card href={post.url} title={post.frontmatter.title} body={post.frontmatter.description} />)}
      </section>
    </main>
    <Footer />
  </body>

  <script>
    // JavaScript code goes here.
  </script>

  <style is:global>
    @font-face {
      font-family: 'Lexend Variable';
      src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
      font-weight: 100 900;
      font-style: normal;
      font-display: swap;
    }
    body {
      font-family: 'Lexend Variable';
    }
  </style>
</html>
