---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Past Events - Seizure Diary 101</title>
</head>
<body>
  <h1>Past Events Page for Seizure Diary 101</h1>
</body>
</html>

<script>
  // JavaScript code goes here.
</script>

<style is:global>
  @font-face {
    font-family: 'Lexend Variable';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Lexend Variable';
  }
</style>