@import "tailwindcss";

@theme {
  --default-font-family: "Inter Variable";

  /* First, disable all default colors */
  --*--color-: initial;

  --color-white: #f8f9fa;
  --color-black: #212529;
  /* Then define your Open Color grays */
  --color-gray-50: #f8f9fa;
  --color-gray-100: #f1f3f5;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #868e96;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  /* Add any other custom colors here */

  --color-primary-50: #fff4ed;
  --color-primary-100: #ffe5d4;
  --color-primary-200: #ffc7a9;
  --color-primary-300: #ffa072;
  --color-primary-400: #fe622a; /* Original Primary Color*/
  --color-primary-500: #fd4612;
  --color-primary-600: #ee2c08;
  --color-primary-700: #c51d09;
  --color-primary-800: #9c1910;
  --color-primary-900: #7e1810;
  --color-primary-950: #440706;
}

/* inter-latin-wght-normal */
@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@layer base {
  * {
    vertical-align: baseline;
  }
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-gray-100);
    --scroll-padding-top: 0;
    scroll-padding-top: var(--scroll-padding-top);

    @variant dark {
      background-color: var(--color-gray-900);
    }
  }
}
