@import "tailwindcss";

@theme {
  --color-primary-50: #fff4ed;
  --color-primary-100: #ffe5d4;
  --color-primary-200: #ffc7a9;
  --color-primary-300: #ffa072;
  --color-primary-400: #fe622a; /* Original Primary Color*/
  --color-primary-500: #fd4612;
  --color-primary-600: #ee2c08;
  --color-primary-700: #c51d09;
  --color-primary-800: #9c1910;
  --color-primary-900: #7e1810;
  --color-primary-950: #440706;
}
