---
import Logo from '../components/Logo.astro';
---

<header class="">
  <Logo Size="w-32" />
  <h1 class="scroll-m-20 m-0 p-0 text-4xl sr-only">Marker</h1>
</header>

<script>
  // JavaScript code goes here.
</script>

<style is:global>
  @font-face {
    font-family: 'Lexend Variable';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Lexend Variable';
  }
</style>
