---
---

<header class="mx-auto w-11/12 overflow-hidden border rounded-lg bg-white shadow p-4">
  <div class="sm:px-6 lg:px-8 grid grid-cols-1 lg:grid-cols-2 items-center justify-between">
    <div class="flex justify-between items-center">
      <div class="w-5 h-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
          ><path
            d="M21 18H6C5.44772 18 5 18.4477 5 19C5 19.5523 5.44772 20 6 20H21V22H6C4.34315 22 3 20.6569 3 19V4C3 2.89543 3.89543 2 5 2H21V18ZM16 9V7H8V9H16Z"
          ></path></svg
        >
      </div>
      <div class="w-5 h-auto lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
      </div>
    </div>
    <div class="flex flex-col gap-8 mt-8 lg:justify-end lg:items-center lg:mt-0 lg:flex-row">
      <a href="/"><u>Home</u></a>
      <a href="/about"><u>About</u></a>
      <a href="/chat"><u>Chat</u></a>
      <a href="/past-events"><u>Past Events</u></a>
      <a href="/get-started"><u>Get Started</u></a>

    </div>
  </div>
</header>

<script>
  // JavaScript code goes here.
</script>

<style is:global>
  @font-face {
    font-family: 'Lexend Variable';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Lexend Variable';
  }
</style>