---
const { Headline, Supporting, Author } = Astro.props
---

<section class="space-y-3">
  <p class="m-0 p-0 text-sm opacity-58 tracking-wide">Author: {Author}</p>
  <h1 class="m-0 p-0">{Headline}</h1>
  <p class="m-0 p-0">{Supporting}</p>
</section>