---
const { Headline, Supporting, Author } = Astro.props
---

<section class="space-y-3 tracking-tgiht">
  <p class="m-0 p-0 text-md font-medium  leading-7 text-brand-600">Author: {Author}</p>
  <h1 class="mt-2 text-3xl font-bold tracking-tight text-chicago-900 sm:text-4xl">{Headline}</h1>
  <p class="mt-6 text-xl leading-8">{Supporting}</p>
</section>