---
const { Headline, Supporting, Author } = Astro.props;
---

<section class="space-y-3 prose md:max-w-[120ch]">
  <p class="m-0 p-0 text-brand-600">Author: {Author}</p>
  <h1 class="mt-2 text-chicago-900">{Headline}</h1>
  <p class="mt-6 text-chicago-900 ">{Supporting}</p>
</section>
