---
import Logo from './Logo.astro';
---

<header class="mb-6 mt-12 p-6">
  <Logo Size="w-32" />
  <h1 class="scroll-m-20 m-0 p-0 text-4xl sr-only">Marker</h1>
  <p class="mt-4 text-sm lg:text-base lg:leading-7 tracking-wide">
    Our platform's goal is to help people with epilepsy discover the benefits of keeping a seizure diary. As you explore these pages, you'll
    uncover a personal way to track seizures, identify triggers, and refine your treatment plans. Over time, this activity will foster a
    deeper understanding of your triggers, relationship with epilepsy, and empower you to manage your condition better.
  </p>
<header />

<script>
  // JavaScript code goes here.
</script>

