---

---

<nav role="navigation" aria-label="Pagination">
  <ul class="container max-w-[120ch] prose my-12 grid grid-cols-1 md:grid-cols-3">
    <li class="flex justify-start md:justify-start items-center">Previous</li>
    <li class="flex justify-start md:justify-center items-center">1 2 3</li>
    <lic class="flex justify-start md:justify-end items-center">Next</lic>
  </ul>
</nav>
