---
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<nav role="navigation" aria-label="Pagination">
  <ul class="container max-w-[120ch] prose my-12 grid grid-cols-1 md:grid-cols-3">
    <li class="flex justify-start md:justify-start items-center">
      <a href="/">Go Home</a>
    </li>
  </ul>
</nav>
