---
import Hamburger from '../components/Hamburger.astro';
import BlogHeader from '../components/BlogHeader.astro';
const { frontmatter } = Astro.props;
---

<head>
  <title>{frontmatter.title}</title>
</head>
<body>
  <Hamburger title={frontmatter.title} />
  <main class="prose mx-auto max-w-[120ch]">
    <article class="space-y-4 text-lg tracking-wide">
    <BlogHeader
      Headline={frontmatter.title}
      Author={frontmatter.author}
      Supporting="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi libero aperiam facere, tenetur quam perferendis pariatur sapiente fugit ullam doloremque."
    />
    <hr class="my-4" />
      <slot />
    </article>
  </main>
</body>

<style is:global>
  @font-face {
    font-family: 'Lexend Variable';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Lexend Variable';
  }
</style>
