---
import Appbar from '../components/Appbar.astro';
import BlogHeader from '../components/BlogHeader.astro';
const { frontmatter } = Astro.props;
---

<head>
  <title>{frontmatter.title}</title>
</head>
<main class="w-11/12 max-w-[120ch] mx-auto my-8 lg:my-12">
  <BlogHeader
    Headline={frontmatter.title}
    Author={frontmatter.author}
    Supporting="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi libero aperiam facere, tenetur quam perferendis pariatur sapiente fugit ullam doloremque."
  />
  <hr class="my-4" />
  <article class="space-y-4 text-lg tracking-wide">
    <slot />
  </article>
</main>

<style is:global>
  @font-face {
    font-family: 'Lexend Variable';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Lexend Variable';
  }
</style>
